* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  width: 100%;
  height: auto;
}


header{
  width: 100%;
  background-image: url(./Images/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}
nav{
  max-width: 950px;
  margin: 0px auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;

}
.logo img{
  width: 150px;
}
#menu-symbol{
  display: none;
}
.sublist{
  display: none;
}
.menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}
li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight:500;

}
.contact-btn{
  color: white;
  border:1px solid white;
  padding: 5px 20px;
  border-radius: 50px;
  font-weight: bold;
}
.contact-btn:hover{
  color: rgb(0, 0, 0);
  background-color: white;
  border:1px solid white;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.heading{
  color: white;
  font-size: 220px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 0;
}
.backgrd2{
  margin-top: -340px;
    width: 100%;
  background-image: url(./Images/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;

}

.bottom-content{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0));
  display: flex;
  justify-content:space-around ;
  align-items: center;
   position: relative;
  z-index: 2;
   margin-top: -60px;
  


}
.paragraph1{
  max-width: 400px;
  color: white;
  margin-bottom: 10px;
  
  
}

@media screen and (max-width: 768px) {
  #menu-symbol {
    display: block;
    color: white;
    font-size: 20px;
  }
  nav {
    padding: 10px 10px;
    justify-content: space-between;
  }
  .menu-list,
  .contact-btn {
    display: none;
  }
  .sublist {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    top: 25px;
    left: 0px;
    display: none;
    flex-direction: column;
    list-style: none;
    font-size: 40px;
    background-color: black;
    margin-top: 20px;
  }
  .sublist a {
    font-size: 20px;
    font-weight: bold;
  }
  .sub-contact {
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
  }

  nav.active {
    background-color: black;
  }
  .sublist.active {
    display: block;
  }
  header{
      top: 120px;
    background-position: center;
  }
  .backgrd2{
   margin-top: -170px;
    background-position: center;
  
  }
  .bottom-content{
    display:block;
    padding-left: 10px;
  }
  .heading{
    top: 40px;
    font-size: 85px;

  }
  .bottom-content{
    top: -90px;
    padding-bottom: 10px;
  }
  .bottom-content p{
    color: white;
    font-size: 16px;
  }
  .paragraph1{
    max-width: 300px;
  }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  #menu-symbol {
    font-size: 30px;
  }
  .logo img{
    width: 230px;
  }
  .bottom-content p{
    width: 700px;
    font-size: 20px;
    margin-top: 10px;
  }
  .heading{
    font-size: 170px;

  }
  .backgrd2{
    margin-top: -290px;
  }
  .paragraph1 h1{
    font-size: 35px;
  }
  .paragrap h1{
    padding-top: 20px;
  }
  
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .menu-list{
    font-size: 15px;
  }
  nav{
    padding-left: 20px;
    padding-right: 20px;
  }
  li a{
    font-size: 14px;
  }
  .logo img{
    width: 150px;
  }
  header{
    background-position: center;
  }
  .backgrd2{
    background-position: center;
    margin-top: -320px;
  
    
  }
  .heading{
    font-size: 180px;
    padding-top: 20px;
  
  }
  .bottom-content{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    top: -20px;

  }
  .paragraph1 p{
      width: 300px;
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .heading{
    font-size: 220px;
   
  }
 .backgrd2{
  margin-top: -370px !important;

 }

 }



@media screen and (min-width: 912px) and (max-width: 1368px) {
  .heading{
    font-size: 210px;
    padding-top: 50px;
   
  }
  .backgrd2{
    margin-top: -370px;
  }
  .bottom-content{
    top: -40px;
  }
 
 

}
@media screen and (min-width: 540px) and (max-width: 720px) {
  .heading{
    font-size: 125px;
  
  }
  .backgrd2{
    margin-top: -220px;
  }

  
 

}
@media screen and (min-width: 344px) and (max-width: 539px) {
  .heading{
    font-size: 80px;
    
  }
}




/* About section start  */
.about {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1000px;
}

.content1 h1 {
  font-size: 75px;
}

.content1 p {
  font-size: 25px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
}

.content {
  flex: 1;

  max-width: 500px;
}

.content h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.content p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .content1 h1 {
    font-size: 45px;
    padding-bottom: 20px;
  }

  .content1 p {
    font-size: 25px;
  }

  .about-content {
    flex-direction: column;
  }

  .content h2 {
    font-size: 25px;
  }

  .content p {
    font-size: 16px;
   
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content1 h1 {
    font-size: 70px;
  }
   .about-content {
    flex-direction: column;

  }
   .content p {
    font-size: 20px;
  }
  .content{
    max-width: 700px;
    font-size: 16px;
  }

  

}
 @media screen and (min-width: 820px) and (max-width: 1180px) {
  .about{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }
  .about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

  }
  .content p{
    width: 320px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  
  .content p{
    width: 400px;
    font-size: 16px;
  }

}
@media screen and (min-width: 912px) and (max-width: 1368px) {
  
  .content p{
    width: 400px;
    font-size: 16px;
  }
   .content1 p {
    font-size: 12px;
  }

}
/* featured-properties start */
.featured-properties {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1000px;
}

.featured-properties h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.featured-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: flex 0.3s ease-in-out;
  position: relative;
  height: 600px;
}
.card1 {
  background-image: url(./Images/home1.png);
  background-size: cover;
  background-position: center;


}
table,
td {
background:linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  color: white;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
}
table {
  width: 100%;
}
td {
  width: 50%;
  padding-left: 30px;
}
td h2 {
  font-size: 20px;
}
.sub-items {
  position: absolute;
  width: 100%;
  display: none;
  bottom: 0px;
}

.card2 {
  background-image: url(./Images/home2.png);
  background-size: cover;
  background-position: center;
}
.card3 {
  background-image: url(./Images/home3.png);
  background-size: cover;
  background-position: center;
}
.card4 {
  background-image: url(./Images/home4.png);
  background-size: cover;
  background-position: center;
}
.card:hover {
  flex: 5;
  .sub-items {
    display: block;
  }
}
/* featured desktop section close  */

/* featured  mobile section start  */
.property-cards {
  
  margin: 50px auto;
  padding: 0 10px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  display: none;
}

.property-card {
  height: 400px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.property-card1 {
  background-image: url(./Images/home1.png);
  background-size: cover;
  background-position: center;
}
table,
td {
  background:linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
  color: white;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-collapse: collapse;
}
table {
  width: 100%;
}
td {
  font-style: italic;
  width: 50%;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}
td h2 {
  font-size: 14px;
}
.mobile-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 0;
}

.property-card2 {
  background-image: url(./Images/home2.png);
  background-size: cover;
  background-position: center;
}

.property-card3 {
  background-image: url(./Images/home3.png);
  background-size: cover;
  background-position: center;
}

.property-card4 {
  background-image: url(./Images/home4.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .featured-img {
    display: none;
  }
  .property-cards {
    display: grid;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .featured-properties h1{
    font-size: 60px;
    margin-bottom: -30px;

  }
  .property-cards{
    display: grid;
    grid-template-columns: 1fr;

  }
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .featured-properties{
    margin-left: 20px;
    margin-right: 20px;
  }
   .featured-properties h1{
    margin-top: 150px;
    font-size: 70px;
   }
  .property-cards{
     margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

  }
  
}
@media screen and (min-width: 344px) and (max-width: 882px) {
  .property-cards{
    grid-template-columns: 1fr;

}
}
/* featured section close  */

/* service section start */

.service-offered {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1000px;
}
.heading2 {
  font-size: 60px;
  margin-bottom: 20px;
}
.servicelist {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}
.servicelist h1,
i {
  font-size: 30px;
}
.description-section {
  display: none;
  padding-bottom: 10px;
}
hr {
  opacity: 0.5;
}
.symbol{
  cursor: pointer;
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  .service-offered {
    margin: 150px 20px;
  }
  
}
@media screen and (min-width: 912px) and (max-width: 1368px) {
  .servicelist  h1{
    font-size: 16px;
   
  }
 
  .description-section{
    font-size: 7px;
   
  }
}



/* service close  */

/* team section start  */
.Team-section {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 1000px;
}

.Team-section h1 {
  font-size: 60px;
  color: black;
  margin-bottom: 30px;
}
.Team-members {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.profile-card {
  flex: 1;
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
}

.profile-image {
  padding-top: 20px;
  width: auto;
  height: 300px;
  padding-left: 20px;
}
.men1{
  padding-left: 30px;
}

.profile-info {
  padding: 15px;
  border-top: 1px solid #000000;
}

.profile-info h2 {
  margin: 0;
  font-size: 30px;
  color: #000;
}

.profile-info p {
  margin: 5px 0 0;
  color: #555;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .Team-members {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .profile-image {
    display: block;
    margin: 0 auto;
    width: auto;
  }
}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  .Team-section{
    margin: 0px 20px;
  }
  .Team-section h1{
    font-size: 80px;
  }
  .profile-image {
    padding-left: -35px;
    width: auto;
  }
  .women{
    margin-left: -40px;
  }
  
  .men1{
    margin-left: -40px;
  }
  .men2{
    margin-left: -35px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1336px) {
  .profile-image{
    margin-left: -25px;
  }
  .men1{
    margin-left:-15px;
  }
}
  @media screen and (min-width: 912px) and (max-width: 1368px) {
    .profile-image {
    padding-left: 40px;
  }
  .men1{
    padding-left: 45px;
  }

}
/* team close  */
/* address section  */
.address-container {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
   color: rgb(86, 80, 80);
}
.social-media {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: end;
   color: rgb(86, 80, 80);
}
@media screen and (max-width: 768px) {
  .address-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.footer-heading {
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1000px;
  font-size: 170px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer-heading {
    font-size: 16vw;
  }
}
.footer-section {
  margin: 10px auto;
  padding: 0 20px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
   color: rgb(86, 80, 80);
}
.licence-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  color: rgb(86, 80, 80);

}
@media screen and (max-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 820px) and (max-width: 1180px) {
  .footer-heading {
    font-size:14vw ;
  }
  .copyright{
    width: 200px;
    font-size: 16px;
  }
  .licence-section {
    column-gap: 20px;
  }

}
@media screen and (min-width: 540px) and (max-width: 720px) {
  .footer-section{
    align-items: center;
  }
  .licence-section {
    column-gap: 20px;
  }
}
@media screen and (min-width: 344px) and (max-width: 882px) {
  .social-media{
    column-gap: 10px;
  }
  .footer-heading{
    font-size:15vw ;
  }
}